body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    max-width: 100%;
}
.container{
    padding: 25px;
    width: 100%;
}
.bub1{
    background-color: beige;
    font-size: 15px;
    width: 100%;
}